@model EatDomicile.Web.ViewModels.Pizzas.PizzaDetailsViewModel

@{
    ViewData["Title"] = "Supprimer pizza";
}

<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-start mt-3">
        <h1>Supprimer une pizza</h1>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
        <a asp-action="Index" class="btn btn-primary">Annuler et retourner sur la liste des pizzas</a>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <h3>Êtes-vous sûr de vouloir supprimer cette pizza ?</h3>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <dl class="row">
            <dt class="col-sm-4">
                Nom :
            </dt>
            <dd class="col-sm-8">
                @(Model.Name)
            </dd>
            <dt class="col-sm-4">
                Prix :
            </dt>
            <dd class="col-sm-8">
                @(Model.Price)€
            </dd>
            <dt class="col-sm-4">
                KCal :
            </dt>
            <dd class="col-sm-8">
                @(Model.Doughs)
            </dd>
            <dt class="col-sm-4">
                Végétarien
            </dt>
            <dd class="col-sm-8">
                @(Model.Vegetarian ? "Oui" : "Non")
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <div>
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>
