@model EatDomicile.Web.ViewModels.Drinks.DrinkViewModel

@{
    this.ViewBag.Title = Model.Name;
    this.Layout = "_Layout";
}
<div>
    <h4>@(this.Model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Prix :
        </dt>
        <dd class = "col-sm-10">
            @(Model.Price)€
        </dd>
        <dt class = "col-sm-2">
            KCal :
        </dt>
        <dd class = "col-sm-10">
            @(Model.KCal)
        </dd>
        <dt class = "col-sm-2">
            Type de boisson
            </dt>
        <dd class = "col-sm-10">
            @(Model.Fizzy ? "Pétillant" : "Non Pétillant")
        </dd>
    </dl>
</div>
<div>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
