@model EatDomicile.Web.ViewModels.Ingredients.IngredientViewModel

@{
    ViewData["Title"] = "Détail ingrédient";
}

<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-start mt-3">
        <h1>Détail d'un ingrédient</h1>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
        <a asp-action="Index" class="btn btn-primary">Retourner sur la liste des ingrédient</a>
        <a asp-action="Edit" asp-route-id="@(Model.Id) " class="btn btn-warning ms-2">Modifier l'ingrédient</a>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <dl class="row">
            <dt class="col-sm-4">
                Nom :
            </dt>
            <dd class="col-sm-8">
                @(Model.Name)
            </dd>
            <dt class="col-sm-4">
                KCal :
            </dt>
            <dd class="col-sm-8">
                @(Model.KCal)
            </dd>
            <dt class="col-sm-4">
                Allergène
            </dt>
            <dd class="col-sm-8">
                @(Model.IsAllergen ? "Oui" : "Non")
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <div>
            <form asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>